
.svn/text-base/sld-custom-content-and-taxonomies.php.svn-base

.svn/text-base/readme.txt.svn-base

.svn/text-base/license.txt.svn-base

.svn/text-base/class.unregister-taxonomy.php.svn-base

.svn/text-base/class.register-taxonomy.php.svn-base

.svn/text-base/class.register-post-type.php.svn-base

.svn/entries

.svn/dir-props

.svn/all-wcprops

.DS_Store

.svn/dir-prop-base
